flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39eb1d22b628c7e9",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://ollama:11434/api/generate",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "30abe70b63ab9802",
                "7c814683f94c842a"
            ]
        ]
    },
    {
        "id": "30abe70b63ab9802",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "ec8c2be0d64ae69f"
            ]
        ]
    },
    {
        "id": "ec8c2be0d64ae69f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "output extracter ",
        "func": "msg.payload = msg.payload.response;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 140,
        "wires": [
            [
                "af72c8c655f47552",
                "71a003e22aa0b843"
            ]
        ]
    },
    {
        "id": "a011ab11a5a0a09a",
        "type": "discordMessage",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "channelIdFilter": "",
        "token": "",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "607de4118ac6665c"
            ]
        ]
    },
    {
        "id": "ee526f665c4a3653",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "java object converter",
        "func": "msg.payload = {\n    \"model\": \"llama3.2:3B\",\n    \"prompt\": msg.payload,\n    \"stream\": false\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 140,
        "wires": [
            [
                "39eb1d22b628c7e9"
            ]
        ]
    },
    {
        "id": "af72c8c655f47552",
        "type": "discordMessageManager",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "channel": "1277587475488964654  ",
        "token": "",
        "x": 880,
        "y": 140,
        "wires": [
            [
                "2fe85be3d4c31967"
            ]
        ]
    },
    {
        "id": "2fe85be3d4c31967",
        "type": "discordTyping",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "channel": "1277587475488964654  ",
        "token": "",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "607de4118ac6665c",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<@1493601730284224654>",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "acf1a09621570865"
            ]
        ]
    },
    {
        "id": "4a8cb00414ab03ae",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.payload = {\n    \"model\": \"llama3.2:3B\",\n    \"prompt\": msg.payload + \" only output the raw Rcon command please\" ,\n    \"stream\": false\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 460,
        "wires": [
            [
                "ec7e3477ae0d7148"
            ]
        ]
    },
    {
        "id": "ec7e3477ae0d7148",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://ollama:11434/api/generate",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "8f1712a24a92a375"
            ]
        ]
    },
    {
        "id": "8f1712a24a92a375",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "a3e46a420dc25d1a"
            ]
        ]
    },
    {
        "id": "a3e46a420dc25d1a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.payload = msg.payload.response;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 460,
        "wires": [
            [
                "4b277806a525d729",
                "8a748e70b3aa8a11"
            ]
        ]
    },
    {
        "id": "4b277806a525d729",
        "type": "rcon",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "server": "49ea8564c1624d1f",
        "command": "",
        "x": 930,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "71a003e22aa0b843",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "a2507a8aeab63818",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "8a748e70b3aa8a11",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "acf1a09621570865",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Minecraft",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "4a8cb00414ab03ae"
            ],
            [
                "ee526f665c4a3653"
            ]
        ]
    },
    {
        "id": "64325d9fc616f3a6",
        "type": "serverinfo",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "server": "49ea8564c1624d1f",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "cbdee7a796e04bf1",
                "e439638b2396c78f",
                "549ca8a111ccb7d3",
                "86c9d995a0c43f11"
            ]
        ]
    },
    {
        "id": "93b758396f3239e6",
        "type": "ui-text",
        "z": "f6f2187d.f17ca8",
        "group": "1d5ccc407591de8b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minecraft Server Stats",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 960,
        "y": 600,
        "wires": []
    },
    {
        "id": "7c814683f94c842a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "372553cf2fbc4e27",
        "type": "ui-button",
        "z": "f6f2187d.f17ca8",
        "group": "1d5ccc407591de8b",
        "name": "",
        "label": "Update Stats",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "64325d9fc616f3a6",
                "fb147c70b4461927"
            ]
        ]
    },
    {
        "id": "f6a59e5c9361fdd3",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "64325d9fc616f3a6"
            ]
        ]
    },
    {
        "id": "e7453886503065c3",
        "type": "ui-text",
        "z": "f6f2187d.f17ca8",
        "group": "1d5ccc407591de8b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ollama Bot stats",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 940,
        "y": 960,
        "wires": []
    },
    {
        "id": "7344725a3d274840",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "cf02957536906de7",
                "0ffabf52d01966af"
            ]
        ]
    },
    {
        "id": "fb147c70b4461927",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://ollama:11434/api/ps",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 960,
        "wires": [
            [
                "7344725a3d274840"
            ]
        ]
    },
    {
        "id": "cf02957536906de7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 900,
        "wires": []
    },
    {
        "id": "0ffabf52d01966af",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "if (msg.payload.models && msg.payload.models.length > 0) {\n    let activeModels = msg.payload.models.map(m => m.model || m.name).join(\", \");\n    msg.payload = \"🟢 Ollama Bot is ONLINE||Active Model: \" + activeModels;\n} else {\n    msg.payload = \"🔴 Ollama Bot is OFFLINE - No models running\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 960,
        "wires": [
            [
                "e7453886503065c3"
            ]
        ]
    },
    {
        "id": "cbdee7a796e04bf1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "const isOnline = msg.payload?.online !== undefined && msg.payload.online > 0;\nmsg.payload = isOnline ? \"🟢 Server Online\" : \"🔴 Server Offline\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 620,
        "wires": [
            [
                "93b758396f3239e6",
                "2b86520ed91c2be8"
            ]
        ]
    },
    {
        "id": "e439638b2396c78f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 5",
        "func": "const playerCount = msg.payload?.online || 0;\nmsg.payload = playerCount.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 660,
        "wires": [
            [
                "80eeb5bc4e3380e9"
            ]
        ]
    },
    {
        "id": "80eeb5bc4e3380e9",
        "type": "ui-text",
        "z": "f6f2187d.f17ca8",
        "group": "1d5ccc407591de8b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Players Online:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 940,
        "y": 640,
        "wires": []
    },
    {
        "id": "549ca8a111ccb7d3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 6",
        "func": "const version = msg.payload?.version || \"Unknown\";\nmsg.payload = version;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 700,
        "wires": [
            [
                "2fad7d99c12121b5"
            ]
        ]
    },
    {
        "id": "2fad7d99c12121b5",
        "type": "ui-text",
        "z": "f6f2187d.f17ca8",
        "group": "1d5ccc407591de8b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Version:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 920,
        "y": 680,
        "wires": []
    },
    {
        "id": "86c9d995a0c43f11",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 7",
        "func": "const players = msg.payload?.players || [];\nconst playerNames = players.map(p => p.name).join(\", \");\nmsg.payload = playerNames;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 740,
        "wires": [
            [
                "485de2b6d390bfcd"
            ]
        ]
    },
    {
        "id": "485de2b6d390bfcd",
        "type": "ui-text",
        "z": "f6f2187d.f17ca8",
        "group": "1d5ccc407591de8b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Players",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 920,
        "y": 720,
        "wires": []
    },
    {
        "id": "2b86520ed91c2be8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "49ea8564c1624d1f",
        "type": "serverconfig",
        "host": "172.17.251.204",
        "rconPort": "25575",
        "rconPassword": "teinf"
    },
    {
        "id": "1d5ccc407591de8b",
        "type": "ui-group",
        "name": "Group 1",
        "page": "bc7e2395b945709f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "bc7e2395b945709f",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "3db93c059967e059",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "b60cece007073b37",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3db93c059967e059",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "b60cece007073b37",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "cc0794cce3fbadbb",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-discord-updated": "4.1.0",
            "@tomsith/node-red-contrib-minecraft": "0.7.7",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]